<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
    	<Console name="Console" target="SYSTEM_OUT">
      		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    	</Console>
    	<RollingFile name="RollingFileAppender" fileName="C:\\Users\\USER\\Documents\\College\\S20\\Software Development\\Assignments\\Assignment 5\\hw5\\logs\\debug.log"
      		filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
        	<PatternLayout>
            	<Pattern>%d [%t] %p %c - %m%n</Pattern>
        	</PatternLayout>
	        <Policies>
	            <OnStartupTriggeringPolicy />
	            <TimeBasedTriggeringPolicy />
	            <SizeBasedTriggeringPolicy size="50 MB" />
	        </Policies>
	        	<DefaultRolloverStrategy max="20" />
	    	</RollingFile>
		</Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingFileAppender"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>